<ion-view view-title="eNotify" hide-nav-bar="true">
    <ion-content>

        <div class="bar bar-header bar-calm">
            <h1 class="title">Login</h1>
        </div>

        <div class="row row-center responsive-sm responsive-lg responsive-md">
            <div class="col-center">
                <div class="logo_image">
                    <img src="img/logo.jpg">
                </div>
            </div>

        </div>

        <div class="row">
         <div class="col">
             <label ng-show="invalidPassowrd" style="color:red;">Invalid Password!!</label>
         </div>

        </div>

        <div class="list">
            <label class="item item-input">
                <input type="text" type="text"  placeholder="Username" ng-model="userData.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="userData.password">
            </label>
            <div class="row">
                <div class="col">
                    <button class="button button-block buttonSignIn"  ng-click="userLogin()">
                        submit
                    </button>
                </div>
            </div>




        </div>

        <div class="row row-center responsive-sm responsive-lg responsive-md">
            <div class="col-center">
                <button class=" button button-outline button-positive ion-person-add" ui-sref="Register" style="padding-right: 22px;">
                    Create new Account
                </button>

            </div>

        </div>

        <div class="row">
            <div class="col"></div>
        </div>

        <div class="row row-center responsive-sm responsive-lg responsive-md">
            <div class="col-center">
                <button class=" button button-outline button-positive ion-locked ">
                    Forget your password
                </button>

            </div>

        </div>




    </ion-content>
</ion-view>