<ion-view>
<ion-content>
    
    <h5 class="notify_confirm">Your Notification was <br/> successfully submitted</h5>

<div class="row">
    <div class="col col-34">
     <p>NotificationID:</p>
    </div>
        <div class="col"></div>
     <div class="col col-50">1023</div>
</div>

        <div class="row">
    <div class="col col-34">
     <p>Message:</p>
    </div>
        <div class="col"></div>
     <div class="col col-50">This is best alert for<br/>admin blah..</div>
</div>
<div class="row">
    <div class="col col-34">
     <p>Text Delivery:</p>
    </div>
        <div class="col"></div>
     <div class="col col-50">Yes</div>
</div>

        <div class="row">
    <div class="col col-34">
     <p>Voice Delivery:</p>
    </div>
        <div class="col"></div>
     <div class="col col-50">No</div>
</div>
        <div class="row">
    <div class="col col-34">
     <p>Number of recipient:</p>
    </div>
        <div class="col"></div>
     <div class="col col-50">22</div>
</div>
        <div class="row">
    <div class="col col-34">
     <p>Target Location Type:</p>
    </div>
        <div class="col"></div>
     <div class="col col-50">Country</div>
</div> <div class="row">
    <div class="col col-34">
     <p>Target Location:</p>
    </div>
        <div class="col"></div>
     <div class="col col-50">Noris</div>
</div>
<div class="col"></div>
     <div class="col col-50">Country</div>
</div> <div class="row">
    <div class="col col-34">
     <p>Notification Created Time:</p>
    </div>
        <div class="col"></div>
     <div class="col col-50">29-04-2015 10:00pm</div>
</div>


</ion-content>
</ion-view>