<ion-view>
    <ion-content>

        <h5 class="notify_confirm">Your Notification was <br/> successfully submitted</h5>

        <div class="row">
            <div class="col col-34">
                <p>NotificationID:</p>
            </div>
            <div class="col"></div>
            <div class="col col-50">{{id}}</div>
        </div>

        <div class="row">
            <div class="col col-34">
                <p>Message:</p>
            </div>
            <div class="col"></div>
            <div class="col col-50">{{message}}</div>
        </div>
        <div class="row">
            <div class="col col-34">
                <p>Text Delivery:</p>
            </div>
            <div class="col"></div>
            <div class="col col-50">{{textNotification}}</div>
        </div>

        <div class="row">
            <div class="col col-34">
                <p>Voice Delivery:</p>
            </div>
            <div class="col"></div>
            <div class="col col-50">{{voiceNotification}}</div>
        </div>
        <div class="row">
            <div class="col col-34">
                <p>Number of recipients:</p>
            </div>
            <div class="col"></div>
            <div class="col col-50">{{recipientsCount}}</div>
        </div>
        <div class="row">
            <div class="col col-34">
                <p>Target Location Type:</p>
            </div>
            <div class="col"></div>
            <div class="col col-50">{{locationTypes}}</div>
        </div> <div class="row">
        <div class="col col-34">
            <p>Target Location:</p>
        </div>
        <div class="col"></div>
        <div class="col col-50">{{locations}}</div>
    </div>

        <div class="row">
            <div class="col col-34">
                <p>Notification Created Time:</p>
            </div>
            <div class="col"></div>
            <div class="col col-50">{{createdTs}}</div>
        </div>


    </ion-content>
</ion-view>