<ion-view  hide-nav-bar="true">
    <ion-content>

        <div class="bar bar-header bar-calm">
            <h1 class="title">Registration</h1>
        </div>

        <div class="row row-center responsive-sm responsive-lg responsive-md">
            <div class="col-center ">
                <div class="logo_image">
                    <img src="img/logo.jpg">

                </div>
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">

                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="Phone">

            </label>
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="Password">

            </label>
        </div>

        <div class="row">
            <div class="col">
                <label>Roles requested:</label>
                <ul class="list">

                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        Notifier:
                    </li><li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Approver:
                </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-block buttonSignIn" ui-sref="confirmation">
                    submit
                </button>
            </div>
        </div>






    </ion-content>

</ion-view>