<ion-view view-title="eNotify">
<ion-content>

    <br/>
    <br/>


    <div class="row">
      <div class="col">
          <p style="text-align: center; font-size: 18px; font-family: cursive">Welcome {{name}}</p>

      </div>

    </div>
    <div class="row">
        <div class="col">

            <button class="button button-full buttonSignIn" ui-sref="createNotification">
                Create Notification
            </button>

            <button class="button button-full buttonSignIn" ui-sref="viewNotification">
                View Notification
            </button>

            <button class="button button-full buttonSignIn" ui-sref="viewPendingApproval">
                View pending approval
            </button>

            <button class="button button-full buttonSignIn" ui-sref="viewProfile">
                View Profile
            </button>
            <button class="button button-full buttonSignIn" ng-click="logout()">
                logout
            </button>

        </div>
    </div>
</ion-content>
</ion-view>