<ion-view>
<ion-content>

    <br/>
    <br/>

    <div class="row">
        <div class="col">

            <button class="button button-full buttonSignIn" ui-sref="createNotification">
                Create Notification
            </button>

            <button class="button button-full buttonSignIn" ui-sref="viewNotification">
                View Notification
            </button>

            <button class="button button-full buttonSignIn" ui-sref="viewPandingApproval">
                View pending approval
            </button>

            <button class="button button-full buttonSignIn" ui-sref="viewProfile">
                View Profile
            </button>
            <button class="button button-full buttonSignIn" ui-sref="login">
                logout
            </button>

        </div>
    </div>
</ion-content>
</ion-view>