<ion-view view-title="eNotify">
<ion-content>


    <div class="row" style="border-bottom: dotted dodgerblue 1px">
        <div class="col">
            <p style="text-align: center; font-size: 16px; font-family: arial">Welcome,
                <span style="font-weight: 600;color: #000;">{{name}}</span></p>

        </div>
    </div>




<br/>
    <p class="C_Notification">My Profile</p>
<br/>

  <div class="list list-inset">
    <div class="row item item-input">
        <div class="col col-20">
            <p>Name</p>
        </div>
        <div class="col"></div>
        <div class="col col-80">{{profile.name}}</div>
    </div>
      </div>


  <div class="list list-inset">
    <div class="row item item-input">
        <div class="col col-20">
            <p>Phone:</p>
        </div>
        <div class="col"></div>
        <div class="col col-80">{{profile.phone}}</div>
    </div>
  </div>
      <div class="list list-inset">
    <div class="row item item-input">
        <div class="col col-20">
            <p>Roles:</p>
        </div>
        <div class="col"></div>
        <div class="col col-80">{{profile.roles}}</div>
    </div>
      </div>
      <div class="list list-inset">
    <div class="row item item-input">
        <div class="col col-20">
            <p>Profile:</p>
        </div>
        <div class="col"></div>
        <div class="col col-80">{{profile.createdTs}}</div>
    </div>
  </div>
  </div>

</ion-content>
</ion-view>