<ion-view view-title="eNotify">
    <ion-content has-header="true" scroll="false">

        <h5 class="notify_confirm">View Pending Approval</h5>

        <br/>


        <ion-scroll direction="x" style="width: 100%" scrollbar-x="false" delegate-handle="head" zooming="true" on-scroll="scrollMirror('head', 'list')">
            <div class="item item-header item-positive row">
                <div class="col col-33">Requested By</div>
                <div class="col col-33">Requested time</div>
                <div class="col"></div>
                <div class="col col-33">Action</div>
            </div>
        </ion-scroll>
        <ion-scroll direction="xy" style="height: 100%" zooming="true" on-scroll="scrollMirror('list', 'head')" delegate-handle="list">

            <div ng-repeat=" approval in viewPandingApproval ">
                <div class="row">
                    <div class="col col-33">{{approval.username}}</div>
                    <div class="col col-33">{{approval.createdTs}}</div>
                    <div class="col"></div>
                    <div class="col col-33">

                        <button ng-show="approveDeny" class="button button-assertive button-small" ng-click="approveDenyFunc('approve')">
                            Approve
                        </button>
                        <br/>
                        <button ng-show="approveDeny" class="button button-assertive button-small" ng-click="approveDenyFunc('deny')">
                            Deny
                        </button>

                        <label ng-show="approve">Approved!</label>
                        <label ng-show="deny">Deny!</label>
                    </div>

                </div>
            </div>


        </ion-scroll>
    </ion-content>





</ion-view>