<ion-view>
<ion-content>

    <h5 class="notify_confirm">Recent Notification</h5>

<br/>

      <table class="table table-bordered">
          <tr>
          <th>ID</th>
          <th>Message</th>
          <th>Created time</th>
          <th>Created by</th>
          </tr>
          <tr>
              <td>102</td>
              <td>you are very good</td>
              <td>24:05:2015 10:00</td>
              <td>John</td>
          </tr><tr>
              <td>102</td>
              <td>you are very good</td>
              <td>24:05:2015 10:00</td>
              <td>John</td>
          </tr><tr>
              <td>102</td>
              <td>you are very good</td>
              <td>24:05:2015 10:00</td>
              <td>John</td>
          </tr>
      </table>





</ion-content>
</ion-view>